
@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 10px; } }

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } }

th 
{
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  padding-top:0px;
  padding-bottom:0px;
  width: max-content;
}
